*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(27, 33, 39);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
#img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
 
}
h1{
    font-size: 4vmax;
    background: linear-gradient(to right,white,rgb(9,192,216),rgb(215,12,94));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.upload-image{
    max-width: 600px;
    width: 90%;
    height: 300px;
    background-color: rgb(56, 76, 86);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 2px 2px 10px black;
}

.inner-upload-image{
    width: 100%;
    height: 80%;
    background-color: rgb(21, 26, 32);
    border-radius: 50px;
    box-shadow: 2px 2px 10px cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
}
.inner-upload-image:hover{
    box-shadow:inset 2px 2px 15px #05e27b;
    background-color: rgb(21, 26, 32);
    


}
button{
    background-color: black;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    color: white;
   cursor: pointer;
}
button:hover{
    box-shadow: 0px 0px 30px cornflowerblue;

}


#image{
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 50px;
}

.output{
    width: 90%;
    max-width: 80%;
    background-color: rgb(16, 21, 26);
    color: white;
    box-shadow: 2px 2px  40px cyan;
    border-radius: 20px;
    display: none;
    padding: 20px;
    font-size: 20px;
    overflow: auto;
}
#loding{
    margin-top: 30px;
   filter: drop-shadow(2px 2px 10px black);
   display: none; 
}
footer >  h4 >span{
    font-size: 30px;
}

footer  >h4{
   
    text-align: center;
    color: crimson;
    /* border-top: 1px solid white; */
}
footer > h5{
    margin-top: 30%;
    background: linear-gradient(to right,white,rgb(9,192,216),rgb(215,12,94));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 20px;
}
.contact{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background: linear-gradient(to right,white,rgb(5, 165, 194),rgb(215, 7, 90));
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.mean i {
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}
.icon{
    margin: 20px 30px;
    justify-content: center;
    text-align: center;
    
}

.icon > a > i{
    font-size: 30px;
    padding-right: 20px;
    color: white;
    border-radius: 50px;
    outline: none;
}
/* #face{
    background: #1310dbc8 ;
    background-clip: text;
  -webkit-text-fill-color: transparent;

} */

 #face:hover{
    color: #1310dbc8;
    background:white;
    /* -webkit-text-fill-color: transparent; */

    
} 